/* *
 * Harant font
 *
 * @format
 */

@import url("https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Nunito:wght@300;400;500;600;700&family=Space+Grotesk:wght@400;500&display=swap");

/* Manrope font*/
@import url("https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Manrope:wght@500&family=Nunito:wght@300;400;500;600;700&family=Space+Grotesk:wght@400;500&display=swap");

/* general default rule */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	max-width: 1800px;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
	background: #ffffff;
}

/* HEADER */
header {
	width: 100%;
	background: #f1f5fe;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0px;
}

.brand-logo {
	max-width: 50%;
}

.bluelogo {
	width: 100%;
}

nav ul {
	display: flex;
	align-items: center;
	gap: 50px;
	list-style: none;
}

a {
	font-family: "Halant", sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
	text-decoration: none;
	color: #000;
}

.hire {
	font-family: "Manrope", sans-serif;
	font-size: 1rem;
	color: #155eef;
	font-weight: 700;
}

.border {
	border: solid 1px #155eef;
	padding: 10px 10px;
	border-radius: 8px;
	background: transparent;
}

.visited {
	border-bottom: 2px solid #155eef;
	width: 100%;
}

/* ********* HEADER END ********** */

/* SECTION ONE */

.bio-wrapper {
	width: 100%;
	background: #000;
	display: flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bio-description {
	width: 55%;
}

.bio-img {
	width: 35%;
	padding-top: 30px;
	align-self: flex-end;
}

.bio-img img {
	width: 100%;
	display: block;
}

.intro {
	font-family: "Halant", sans-serif;
	font-size: 32px;
	font-weight: 600;
	color: #b8b8b8;
}

h1 {
	font-family: "Halant", sans-serif;
	font-size: 56px;
	font-weight: 600;
	color: #fff;
	line-height: 200%;
}

.desc {
	font-family: "Manrope", sans-serif;
	font-size: 32px;
	font-weight: 500;
	color: #a3a3a3;
	text-align: justify;
}

.btn1 {
	font-family: "Manrope", sans-serif;
	font-size: 1rem;
	font-weight: 700;
	color: #fff;
	background: #155eef;
	border: none;
	padding: 10px 20px;
	border-radius: 8px;
	margin-top: 30px;
}

/* ABOUT SECTION TWO */

.about-wrapper {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #f5f8fe;
	margin: 20px 0px;
	padding: 15px 0px;
}

.about-img {
	width: 45%;
}

.about-img img {
	width: 100%;
}

.about-description {
	width: 40%;
}

.about-description h3 {
	font-family: "Halant", sans-serif;
	font-size: 32px;
	font-weight: 600;
	color: #000;
}

.about-description p {
	font-family: "Manrope", sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: #000;
	margin-top: 20px;
	text-align: justify;
}

.btn {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 30px;
}

.btn button {
	cursor: pointer;
	padding: 10px 15px;
	border-radius: 8px;
	width: 30%;
}

.btn2 {
	font-family: "Manrope", sans-serif;
	font-size: 1rem;
	font-weight: 700;
	color: #fff;
	background: #155eef;
	border: none;
}

.btn3 {
	border: solid 1px #155eef;
	background: transparent;
	font-family: "Manrope", sans-serif;
	font-size: 1rem;
	color: #155eef;
	font-weight: 700;
	outline: none;
}

/* ********* SECTION TWO END ********** */

/* SCETION THREE */

.section-3 {
	width: 100%;
	position: relative;
	background: #e6e6e6;
	padding-top: 40px;
	padding-bottom: 200px;
}

.s3-img {
	width: 50%;
}

.s3 img {
	display: block;
	width: 100%;
}

.content {
	position: absolute;
	background: #fff;
	padding: 90px 0 130px;
	text-align: justify;
	width: 50%;
	top: 25%;
	right: 10%;
}

.inside-cont {
	width: 80%;
	margin: 0 auto;
}

.inside-cont h3 {
	font-size: 32px;
	font-family: Halant;
	font-weight: 600;
	margin-bottom: 20px;
}

.mid-content {
	font-size: 24px;
	font-weight: 500;
	font-family: "Manrope", sans-serif;
	margin-bottom: 15px;
}

.name {
	font-size: 24px;
	font-family: Halant;
	font-weight: 600;
	display: flex;
	align-items: center;
}

.name span {
	font-size: 16px;
	font-weight: 500;
}

/* FOOTER */

footer {
	background: #080808;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.footer-img img {
	width: 100%;
}

.social-icon {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
	cursor: pointer;
	width: 20%;
}

.copyright {
	width: 20%;
}

footer p {
	font-family: "Manrope", sans-serif;
	font-size: 24px;
	font-weight: 500;
	color: #fff;
	margin: 0;
	padding: 0;
}

/* HAMBURGER */

.hamburger {
	display: none;
	cursor: pointer;
}

/* LEFT AND RIGHT PAGE MARGIN */

.center {
	padding-left: 50px;
	padding-right: 50px;
}

/* MEDIA QUERIES */

/* TABLET VIEW */

/* Tablet mood 2 */
@media screen and (max-width: 1200px) and (min-width: 768px) {
	/* Nav Bar */
	nav ul {
		display: none;
	}
	.hamburger {
		display: block;
	}

	/* SECTION 1 */
	h1 {
		font-size: 34px;
	}

	.bio-description p {
		font-size: 1.2rem;
	}

	.bio-img {
		width: 40%;
	}

	/* SECTION TWO */

	.about-img {
		width: 50%;
	}

	.about-img img {
		width: 100%;
	}

	.about-description {
		width: 45%;
	}

	.about-description h3 {
		font-size: 24px;
	}

	.about-description p {
		font-size: 16px;
		margin-top: 5px;
	}

	.btn {
		margin-top: 10px;
	}

	.btn button {
		width: 100%;
	}

	.btn2,
	.btn3 {
		white-space: nowrap;
	}

	/* SECTION THREE */

	.s3-img {
		width: 70%;
		/* z-index: 1; */
	}

	.s3-img img {
		width: 100%;
	}

	.content {
		width: 55%;
		top: 32%;
		right: 5%;
		padding: 50px 20px 80px 20px;
		bottom: 10%;
	}

	.inside-cont {
		width: 100%;
		margin: 0 auto;
	}

	.mid-content{
		font-size: 1.1rem;
	}

	/* footer */

	.copyright p {
		font-size: 1rem;
	}
}

/* MOBILE VIEW BELOW 799PX */

@media screen and (max-width: 767px) {
	body {
		background: #000;
	}

	/* Nav Bar */
	nav ul {
		display: none;
	}

	.hamburger {
		display: block;
	}

	/* bio section  */

	.bio-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.bio-img {
		width: 100%;
		order: 1;
	}

	.bio-description {
		width: 100%;
		order: 2;
		text-align: center;
	}

	.bio-description p {
		text-align: center;
		font-size: 1rem;
	}

	.intro {
		font-size: 1rem;
		margin: 10px 0 0 0;
	}

	h1 {
		font-size: 24px;
	}

	.desc {
		font-size: 1rem;
	}

	.btn1 {
		font-family: "Manrope", sans-serif;
		font-size: 1rem;
		font-weight: 700;
		color: #fff;
		background: #155eef;
		border: none;
		padding: 10px 0px;
		border-radius: 8px;
		margin-top: 30px;
	}

	/* About section */

	.about-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.about-img {
		display: none;
	}

	.about-description {
		width: 100%;
		padding-top: 20px;
	}

	.about-description h3 {
		font-size: 24px;
		text-align: center;
	}

	.about-description p {
		text-align: justify;
		font-size: 1rem;
	}

	.btn button {
		width: 100%;
	}

	.btn {
		margin: 20px 0px;
	}

	.btn1 {
		width: 100%;
	}

	/* SECTION 3 */

	.section-3 {
		padding-bottom: 40px;
	}

	.s3-img {
		display: none;
	}
	.section-3 img {
		display: hidden;
	}

	.content {
		position: relative;
		background: none;
		padding: 0px 0px 0px 0px;
		text-align: justify;
		width: 100%;
		height: auto;
		top: 0%;
		right: 0px;
	}

	.inside-cont {
		width: 100%;
		margin: 0px auto;
	}

	.mid-content {
		font-size: 16px;
		font-weight: 500;
		font-family: "Manrope", sans-serif;
	}

	.inside-cont h3 {
		font-size: 24px;
		font-family: Halant;
		font-weight: 600;
		text-align: center;
	}

	.name {
		font-size: 14px;
		font-family: Halant;
		font-weight: 600;
		display: flex;
		align-items: center;
	}

	.name span {
		font-size: 12px;
		font-weight: 500;
	}

	/* FOOTER */

	footer {
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 0px;
		padding-top: 20px;
		padding-bottom: 30px;
	}

	.footer-img {
		width: 40%;
	}

	.footer-img img {
		width: 100%;
	}

	footer .social-icon {
		width: 40%;
		gap: 20px;
	}

	.social-icon img {
		width: 15%;
	}

	.copyright {
		width: 100%;
	}

	.copyright p {
		text-align: center;
		margin-top: 5px;
		font-size: 1.5rem;
	}

	.center {
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* MOBILE BELOW 300PX */

@media screen and (max-width: 350px) {
	.btn {
		display: flex;
		flex-direction: column;
	}

	.social-icon {
		width: 40%;
		gap: 10px;
	}

	.footer-img {
		width: 55%;
	}

	.copyright p {
		text-align: center;
		margin-top: 5px;
		font-size: 1rem;
	}
}
